body {
    font-family: Arial, sans-serif;
}

#books-table table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: fixed;
}

#books-table td:nth-child(1),
    #books-table th:nth-child(1) {
        width: 20%;
}

#books-table td:nth-child(2),
#books-table th:nth-child(2) {
        width: 10%;
}

#books-table td:nth-child(3),
#books-table th:nth-child(3) {
        width: 5%;
}

#books-table td:nth-child(4),
#books-table th:nth-child(4) {
        width: 4%;
}

#books-table td:nth-child(5),
#books-table th:nth-child(5) {
        width: 5%;
}

#books-table td:nth-child(7),
#books-table th:nth-child(7) {
        width: 40px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
}

td {
    text-align: left;
}

th {
    text-align: center;
    background-color: #E7EFFA;
}

button {
    padding: 0px 5px;
    cursor: pointer;
}

.new-btn-row {
    background-color: #EEE;
}

td:nth-child(7) {
    text-align: center;
}

.editing,
.new-row {
    background-color: #FFC4C3;
    text-align: left;
}

.editing td div,
.new-row td div {
    position: relative;
    background-color: #fff;
    border: 1px solid #ddd;
    padding-left: 0px;
    display: block;
    min-height: 20px;
    word-wrap: break-word;
}